In [1]:
%load_ext sql

In [2]:
import os
import psycopg2

In [3]:
host = "localhost"
database = "olist"
user = "postgres"
password = "sql123"

In [4]:
connection_string = f"postgresql://{user}:{password}@{host}/{database}"

In [5]:
connection_string

'postgresql://postgres:sql123@localhost/olist'

In [6]:
%sql $connection_string

'Connected: postgres@olist'

In [7]:
%%sql
SELECT * 
FROM orders
LIMIT 10;

 * postgresql://postgres:***@localhost/olist
10 rows affected.

[('e481f51cbdc54678b7cc49136f2d6af7', '9ef432eb6251297304e76186b10a928d', 'delivered', datetime.datetime(2017, 10, 2, 10, 56, 33), datetime.datetime(2017, 10, 2, 11, 7, 15), datetime.datetime(2017, 10, 4, 19, 55), datetime.datetime(2017, 10, 10, 21, 25, 13), datetime.datetime(2017, 10, 18, 0, 0)),
 ('53cdb2fc8bc7dce0b6741e2150273451', 'b0830fb4747a6c6d20dea0b8c802d7ef', 'delivered', datetime.datetime(2018, 7, 24, 20, 41, 37), datetime.datetime(2018, 7, 26, 3, 24, 27), datetime.datetime(2018, 7, 26, 14, 31), datetime.datetime(2018, 8, 7, 15, 27, 45), datetime.datetime(2018, 8, 13, 0, 0)),
 ('47770eb9100c2d0c44946d9cf07ec65d', '41ce2a54c0b03bf3443c3d931a367089', 'delivered', datetime.datetime(2018, 8, 8, 8, 38, 49), datetime.datetime(2018, 8, 8, 8, 55, 23), datetime.datetime(2018, 8, 8, 13, 50), datetime.datetime(2018, 8, 17, 18, 6, 29), datetime.datetime(2018, 9, 4, 0, 0)),
 ('949d5b44dbf5de918fe9c16f97b45f8a', 'f88197465ea7920adcdbec7375364d82', 'delivered', datetime.datetime(2017, 11, 18, 19, 28, 6), datetime.datetime(2017, 11, 18, 19, 45, 59), datetime.datetime(2017, 11, 22, 13, 39, 59), datetime.datetime(2017, 12, 2, 0, 28, 42), datetime.datetime(2017, 12, 15, 0, 0)),
 ('ad21c59c0840e6cb83a9ceb5573f8159', '8ab97904e6daea8866dbdbc4fb7aad2c', 'delivered', datetime.datetime(2018, 2, 13, 21, 18, 39), datetime.datetime(2018, 2, 13, 22, 20, 29), datetime.datetime(2018, 2, 14, 19, 46, 34), datetime.datetime(2018, 2, 16, 18, 17, 2), datetime.datetime(2018, 2, 26, 0, 0)),
 ('a4591c265e18cb1dcee52889e2d8acc3', '503740e9ca751ccdda7ba28e9ab8f608', 'delivered', datetime.datetime(2017, 7, 9, 21, 57, 5), datetime.datetime(2017, 7, 9, 22, 10, 13), datetime.datetime(2017, 7, 11, 14, 58, 4), datetime.datetime(2017, 7, 26, 10, 57, 55), datetime.datetime(2017, 8, 1, 0, 0)),
 ('136cce7faa42fdb2cefd53fdc79a6098', 'ed0271e0b7da060a393796590e7b737a', 'invoiced', datetime.datetime(2017, 4, 11, 12, 22, 8), datetime.datetime(2017, 4, 13, 13, 25, 17), None, None, datetime.datetime(2017, 5, 9, 0, 0)),
 ('6514b8ad8028c9f2cc2374ded245783f', '9bdf08b4b3b52b5526ff42d37d47f222', 'delivered', datetime.datetime(2017, 5, 16, 13, 10, 30), datetime.datetime(2017, 5, 16, 13, 22, 11), datetime.datetime(2017, 5, 22, 10, 7, 46), datetime.datetime(2017, 5, 26, 12, 55, 51), datetime.datetime(2017, 6, 7, 0, 0)),
 ('76c6e866289321a7c93b82b54852dc33', 'f54a9f0e6b351c431402b8461ea51999', 'delivered', datetime.datetime(2017, 1, 23, 18, 29, 9), datetime.datetime(2017, 1, 25, 2, 50, 47), datetime.datetime(2017, 1, 26, 14, 16, 31), datetime.datetime(2017, 2, 2, 14, 8, 10), datetime.datetime(2017, 3, 6, 0, 0)),
 ('e69bfb5eb88e0ed6a785585b27e16dbf', '31ad1d1b63eb9962463f764d4e6e0c9d', 'delivered', datetime.datetime(2017, 7, 29, 11, 55, 2), datetime.datetime(2017, 7, 29, 12, 5, 32), datetime.datetime(2017, 8, 10, 19, 45, 24), datetime.datetime(2017, 8, 16, 17, 14, 30), datetime.datetime(2017, 8, 23, 0, 0))]

Total number of rows in orders

In [8]:
%%sql
SELECT COUNT(*)
FROM orders;

 * postgresql://postgres:***@localhost/olist
1 rows affected.

[(99441,)]

In [9]:
%%sql
SELECT *
FROM products
LIMIT 10;

 * postgresql://postgres:***@localhost/olist
10 rows affected.

[('1e9e8ef04dbcff4541ed26657ea517e5', 'perfumaria', 40, 287, 1, 225, 16, 10, 14),
 ('3aa071139cb16b67ca9e5dea641aaa2f', 'artes', 44, 276, 1, 1000, 30, 18, 20),
 ('96bd76ec8810374ed1b65e291975717f', 'esporte_lazer', 46, 250, 1, 154, 18, 9, 15),
 ('cef67bcfe19066a932b7673e239eb23d', 'bebes', 27, 261, 1, 371, 26, 4, 26),
 ('9dc1a7de274444849c219cff195d0b71', 'utilidades_domesticas', 37, 402, 4, 625, 20, 17, 13),
 ('41d3672d4792049fa1779bb35283ed13', 'instrumentos_musicais', 60, 745, 1, 200, 38, 5, 11),
 ('732bd381ad09e530fe0a5f457d81becb', 'cool_stuff', 56, 1272, 4, 18350, 70, 24, 44),
 ('2548af3e6e77a690cf3eb6368e9ab61e', 'moveis_decoracao', 56, 184, 2, 900, 40, 8, 40),
 ('37cc742be07708b53a98702e77a21a02', 'eletrodomesticos', 57, 163, 1, 400, 27, 13, 17),
 ('8c92109888e8cdf9d66dc7e463025574', 'brinquedos', 36, 1156, 1, 600, 17, 10, 12)]

In [10]:
%%sql
SELECT COUNT(items.unique_items)
FROM(SELECT DISTINCT(product_category) AS unique_items
     FROM products) AS items

 * postgresql://postgres:***@localhost/olist
1 rows affected.

[(73,)]

Accesing empty columns using coalesce

In [12]:
%%sql
SELECT product_category, product_desc_length
FROM products
WHERE COALESCE(product_category, '') != ''
ORDER BY product_desc_length DESC
LIMIT 10;

 * postgresql://postgres:***@localhost/olist
10 rows affected.

[('dvds_blu_ray', 3992),
 ('automotivo', 3988),
 ('esporte_lazer', 3985),
 ('cool_stuff', 3976),
 ('beleza_saude', 3963),
 ('esporte_lazer', 3956),
 ('beleza_saude', 3954),
 ('artes', 3954),
 ('beleza_saude', 3950),
 ('esporte_lazer', 3949)]

Using LIKE (case sensitive) and ILIKE (case insensitive)

In [19]:
%%sql
SELECT DISTINCT(product_category)
FROM products
WHERE product_category LIKE 'fash%';

 * postgresql://postgres:***@localhost/olist
7 rows affected.

[('fashion_roupa_feminina',),
 ('fashion_underwear_e_moda_praia',),
 ('fashion_esporte',),
 ('fashion_roupa_masculina',),
 ('fashion_calcados',),
 ('fashion_roupa_infanto_juvenil',),
 ('fashion_bolsas_e_acessorios',)]

In [21]:
%%sql
SELECT DISTINCT(product_category)
FROM products
WHERE product_category LIKE '%sh%';

 * postgresql://postgres:***@localhost/olist
8 rows affected.

[('fashion_roupa_feminina',),
 ('fashion_underwear_e_moda_praia',),
 ('fashion_esporte',),
 ('fashion_roupa_masculina',),
 ('fashion_calcados',),
 ('pet_shop',),
 ('fashion_roupa_infanto_juvenil',),
 ('fashion_bolsas_e_acessorios',)]

In [22]:
# AND and OR operator

In [32]:
%%sql
SELECT *
FROM products
WHERE product_weight_grams > 10000 
      AND product_length_cm > 104
ORDER BY product_length_cm DESC;

 * postgresql://postgres:***@localhost/olist
36 rows affected.

[('34742604f6cd1e891726b849b6890f81', 'esporte_lazer', 47, 1582, 1, 12000, 105, 46, 46),
 ('343c15a347e523f2b6cf38a5db81e179', 'esporte_lazer', 48, 1232, 2, 30000, 105, 65, 20),
 ('de9305867467640bebc680708d43f27a', 'esporte_lazer', 49, 1263, 2, 17550, 105, 65, 25),
 ('6eefea74d72822573892405c674918e6', 'cool_stuff', 56, 1114, 5, 21900, 105, 31, 31),
 ('e6574cebbeb21c82802d3a0b682129b6', 'esporte_lazer', 49, 1263, 2, 30000, 105, 65, 25),
 ('6b4b43f30f71d5d25a64145919f7f515', 'brinquedos', 41, 1100, 4, 19700, 105, 48, 18),
 ('e10c5041c0752194622a7a7016d8c9b5', 'instrumentos_musicais', 29, 523, 1, 14200, 105, 16, 40),
 ('c41394a593b75e8e4f3d1fb5e93e151e', 'esporte_lazer', 60, 1332, 2, 28500, 105, 65, 25),
 ('97ab901f90b75df669b546a1d68d0512', 'brinquedos', 28, 200, 3, 15600, 105, 30, 30),
 ('038e3a669bb495e56d9d609d874fb668', 'esporte_lazer', 49, 862, 1, 30000, 105, 70, 20),
 ('97ac2c1509cfea4a471cb1cfa1e3e512', 'esporte_lazer', 31, 396, 3, 12478, 105, 15, 25),
 ('060c584206d08377a1408fd7afc08b0f', 'esporte_lazer', 43, 536, 4, 14000, 105, 18, 18),
 ('16c4e87b98a9370a9cbc3a4658a3f45b', 'instrumentos_musicais', 53, 1935, 1, 18000, 105, 30, 40),
 ('0ae7a3cd926fa82531a24891c2647b0b', 'esporte_lazer', 50, 1234, 1, 15850, 105, 65, 25),
 ('7535f3518e1009b17aa6e3fa553e82bc', 'brinquedos', 41, 1100, 3, 15400, 105, 48, 18),
 ('451482edc91f59c001a5a3a0e4d594bf', 'moveis_sala', 58, 690, 1, 16400, 105, 15, 43),
 ('89f477e164a214412b100a5c35464b0a', 'automotivo', 60, 543, 4, 14900, 105, 15, 80),
 ('10d13c18c631962fdc16cf4bbe67c730', 'esporte_lazer', 32, 1132, 8, 10200, 105, 18, 28),
 ('98f45ca7c8c275409c14c93996fdeb07', 'esporte_lazer', 32, 1132, 8, 10200, 105, 15, 28),
 ('f7a5131ee6e422257630fe35c9b7875a', 'esporte_lazer', 51, 1229, 1, 28500, 105, 65, 25),
 ('240735529a8d46a6878d8c99fc648867', 'esporte_lazer', 32, 1132, 8, 10200, 105, 15, 28),
 ('f38ce47371f868581f8c2df4ffa47fb6', 'esporte_lazer', 63, 1244, 2, 28500, 105, 65, 25),
 ('b4436da747c3a53ab07ac0e71de17dcd', 'esporte_lazer', 42, 696, 1, 24450, 105, 50, 20),
 ('c60da43ed0fc0f33c57242c2f631e99e', 'esporte_lazer', 59, 1276, 5, 26700, 105, 70, 20),
 ('24bf010d82955430eeea5ed7643711c7', 'esporte_lazer', 53, 1232, 2, 28450, 105, 65, 25),
 ('b096d990c6b4017851564c895ffa9e44', 'eletronicos', 62, 3247, 2, 11450, 105, 11, 70),
 ('8b8a1ad64d412f12e5cbd609b8ffd064', 'esporte_lazer', 30, 1151, 8, 10200, 105, 15, 25),
 ('50dc647b3482fe19d838513cf88482ad', 'instrumentos_musicais', 41, 982, 3, 11900, 105, 15, 45),
 ('173255396ec907ab516d3848dbcc98da', 'industria_comercio_e_negocios', 58, 869, 2, 27000, 105, 18, 35),
 ('d7324d4c913e7b424cb61675dafc8c10', 'esporte_lazer', 43, 347, 1, 20900, 105, 70, 25),
 ('9dac5ef9b28fa12041a57562d24f6171', 'utilidades_domesticas', 42, 668, 1, 21700, 105, 20, 30),
 ('0a6037fabc6b47a58947cc272f30b7f2', 'moveis_decoracao', 49, 779, 2, 21400, 105, 28, 65),
 ('ed6e17c5f34a20c7569b6ac2597ee223', 'automotivo', 53, 611, 1, 30000, 105, 20, 50),
 ('c9d067f785507045799795719e6e6131', 'esporte_lazer', 57, 1260, 4, 26500, 105, 70, 20),
 ('c43704bc45a1f1a58de5d2b5ba0b0d12', 'moveis_decoracao', 36, 213, 2, 12500, 105, 10, 60),
 ('d7f8b7443f6ae5796dabe493521a1e79', 'industria_comercio_e_negocios', 56, 2029, 2, 30000, 105, 43, 46)]